@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: montserrat, roboto, sans-serif;
    background-color: #none;
    font-weight: 300;
    line-height: 2.5;x§
}

.container{
    width: 80%;
    margin: auto;    
    overflow:hidden;
    
}

h2{
    font-family: montserrat, sans-serif;
    font-size: 60px;
    color: #506AD4;
    font-weight: bold;
    text-align: center;
}

/* Header */

header{
    background-color: #506AD4;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: #F2CC39 3px solid;
}

.menu a{
    color: #FFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.menu a:hover{
    color: #F2CC39;
    text-decoration: underline;
}

nav{
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}


.menu li{

    font-size: 16px;
    padding: 15px 5px;
}

.menu li a{
    display: block;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
}

/*menu and nav*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/*home*/

#home{
    background:url('../images/pexels-negative-space-169573.webp') no-repeat center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    text-align: center;
    color: #FFFF;

}

#home  h1 {
    font-size: 100px;
    margin-top:100px;
    margin-bottom 10px;
    text-align: center;
    color: #506AD4;
    
}


/*about*/

#about{
    min-height: 400px;
    width: 100%;
    margin: auto;
   
    
    
}

#about h2{
    
    text-align: center;
}

.container-about{
    display: flex;
    border-bottom: 2px #F2CC39 solid;
    
}

#profil-img{
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    float: left;
    padding: 30px;
}


/*skills*/

#skills{
    min-height: 400px;
    width: 100%;
    margin: auto;
}

#skills > h3{
    text-transform: uppercase;
}

.container-skills{
    display: flex;
    border-bottom: 2px #F2CC39 solid;
    
}

.boxes{
    padding:10px;
    margin: 10px;
    flex:1;
    text-align: center;
    width: 40%;
    overflow: hidden;
}

.boxes i{
    font-size: 80px;
    color: #506AD4;
}

/*contact*/

#form-section{
  clear: left;
  background: url('../images/pexels-markus-spiske-1089440.webp') no-repeat center center;
  background-size: cover;
  height: 900px;
  max-width: 100%;
  overflow: hidden;
  
}

.contact-me {
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width:400px;
    position:absolute;
    padding:30px;
    left:35%;
    

}

h3 label input{
    size: inherit;
    text-align: center;
}

footer {
    background-color: #506AD4;
    border-top: #F2CC39 3px solid;
}

footer h3{
    text-align: center;
    color: #fff;
}

.social-media{
    text-align: center;
}

.social-media > li {
    display: inline;
      
}

.social-media i {
        font-size: 50px;
        margin: 1%;
        padding: 5%;
        color: #fff

}

.social-media i:hover{
    color: #F2CC39;
}
