@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: montserrat, roboto, sans-serif;
    background-color:#FFFCE6 ;
    font-weight: 300;
    line-height: 2.5;x§
}

.container{
    width: 80%;
    margin: auto;    
    overflow:hidden;
}

/* Header */

nav{
    background-color: #506AD4;
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}

a{
    color: #FFFCE6;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: #C2B8AD;
    text-decoration: underline;
}

.menu li{

    font-size: 16px;
    padding: 15px 5px;
}

.menu li a{
    display: block;
}

.logo a {
    font-size: 25px;
    font-weight: bold;
}

/*menu and nav*/

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/*home*/

#home{
    background:url('/assets/images/pexels-pixabay-4158.webp') no-repeat center center;
    height: 600px;
    width: 100%;

}

#home h2, p{
    color: #FFFCE6;
}









