@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: montserrat, roboto, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

html,body{
    overflow-x: hidden;
}

p{
    line-height: 2;
}
.container{
    width: 80%;
    margin: auto;    
    overflow:hidden;
    
}



h2{
    font-family: montserrat, sans-serif;
    font-size: 250%;
    color: #151740;
    font-weight: bold;
    text-align: center;
    padding: 3vh;
}

/* Header */

header{
    background-color: #151740;
    min-height: 70px;
    padding-top: 30px;
    border-bottom: #Ffff 3px solid;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo a{
    color:#Ffff;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
    
}

.logo h1 {
    text-align: center;
}


nav{
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}

.menu {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    height: 100%;
}

.menu a{
    color: #FFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.menu a:hover{
    color: #F2CC39;
    text-decoration: underline;
}

.menu li{

        font-size: 16px;
        padding: 15px 5px;
    }


/*home*/

#home{
    background:url('../images/pexels-negative-space-169573.webp') no-repeat center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    text-align: center;
    color: #FFFF;

}

#home  h2 {
    font-size: 70px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
    color:#151740;
    text-decoration: underline #151740;
    
}

@media  screen and (max-width:755px) {
    #home h2 {
        font-size: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color:#151740;
        text-decoration: underline #151740;
        font-weight: bold;

    }
}

@media  screen and (max-width:380px) {
    #home h2 {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color:#151740;
        text-decoration: underline #151740;

    }
}


/*about*/

#about{
    min-height: 500px;
    width: 100%;
    margin: auto;
   
}

#about h2{
    
    text-align: center;
}

.container-about{
    display: flex;
    flex-direction:row;    
    justify-content: space-around;
    align-items: center;
    
}

.about-item-1{
    align-items: center;
    flex: 1;
}

.about-item-2{
    flex: 3;
}


.container-about p {
    line-height: 2;
    padding: 3vh;

}


#profil-img{
    border-radius: 50%;
    border: #151740 solid 1px;
    max-width: 350px;
    max-height: 350px;
    padding: 2vh;
    margin: 5vh;
}

@media  screen and (max-width:755px) {
    .container-about{
        display: flex;
        flex-direction:column;    
        justify-content: center;
        
    }
}




/*skills*/

#skills{
    min-height: 500px;
    width: 100%;
    margin: auto;
    border-bottom: 3px #151740 solid;
    
    
}

.container-skills1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    margin: 3% 0;
    
  
}

.heading-about-skills{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1%;  
}

.box1{
    width: 200px;
   
}

.box2{
    width: 200px;
}

.box1 i {
    font-size: 200px;
    color:#151740;
    text-align: center;
    margin: 0 10%;
    
}

.box2 i {
    font-size:200px;
    color: #151740;
    align-items: center;
    margin: 0 10%;

}

.box1 h4 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.box2 h4 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

@media  screen and (max-width:755px) {
    .container-skills1{
        display: flex;
        flex-direction:column;    
        justify-content: stretch;
        align-items: center;
    }
}
/*contact*/

#contact{
  background: url('../images/pexels-markus-spiske-1089440.webp') no-repeat center center;
  background-size: cover;
  max-height:fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:3px #151740 solid;;
}



.contact-me {
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width:100%;
    padding:30px;
    left:35%;
  
}

.contact-me h3{
    text-align: center;
}

.text-input{
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;

}
.text-input-message{
    width:100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}
.cta-button{
    color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: aquamarine;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	
}


.cta-button:hover{
    background-color: #27ae60;
    color: #fff;
}    




/*footer*/

footer {
    background-color: #151740;
    border-top: #Ffff 3px solid;
    height: fit-content;
    overflow-y: hidden;
}

footer h3{
    text-align: center;
    color: #fff;
    margin-top: 1.5%;
}

.social-media{
    text-align: center;
}

.social-media > li {
    display: inline;
      
}

.social-media i {
        font-size: 50px;
        padding: 2%;
        color: #fff;

}


.social-media i:hover{
    color: #F2CC39;
}


